<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Movie Results</title>
</head>

<body>
	<h1>Movie Results</h1>
	<form action="http://localhost:6500/" method="post">
	<fieldset>
		
	</fieldset>
	</form>
</body>

</html>
