<!-- DO NOT MODIFY THIS FILE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Movie Results</title>
  </head>

  <body>
    <h1>Movie Results</h1>
    <img src="<%- img %>" />
    <div>
      Title: <%- title %>
      <br />
      Overview: <%- overview %>
      <br />
      Average Rating: <%- avgRating %>
    </div>
    <br />
    <form method="post" action="result">
      <label>
        <strong>Search:</strong>
        <input type="text" name="searchVal" placeholder="Movie or TV Name" />
      </label>
      <select name="opts">
        <option value="movie">Movie</option>
        <option value="tv">TV</option>
      </select>
      <input type="submit" value="Search" />
    </form>
    <hr />
    <a href="/">HOME</a>
  </body>
</html>
