<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Movie Search</title>
</head>

<body>
	<h1>Movie Results</h1>
	<form action="http://localhost:6500" method="post">
		<label for="movieTitle">Enter Movie: </label>
		<input type="text" id="movieTitle" name="movieTitle">
		<input type="submit">
	</form>
</body>

</html>
