<!-- DO NOT MODIFY THIS FILE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Search Results</title>
    <link rel="stylesheet" href="./css/style.css" type="text/css" />
  </head>

  <body>
    <h1>Search Results</h1>
    <img src="<%- img %>" />
    <div>
      <strong>Title:</strong>
      <%- title %>
      <br />
      <strong>Overview:</strong>
      <%- overview %>
      <br />
      <strong>Average Rating:</strong>
      <%- avgRating %>
    </div>
    <br />
    <form method="post" action="result">
      <label>
        <strong>Search:</strong>
        <input type="text" name="searchVal" placeholder="Movie or TV Name" />
      </label>
      <select name="opts">
        <option value="movie">Movie</option>
        <option value="tv">TV</option>
      </select>
      <input type="submit" value="Search" />
    </form>
    <hr />
    <a href="/"><u>HOME</u></a>
  </body>
</html>
